
        
        Hola,

        Hemos recibido una solicitud para restablecer la contraseña de su cuenta en {{ site_name }}. Si no ha solicitado este cambio, puede ignorar este correo electrónico.
        Para restablecer su contraseña, por favor haga clic en el siguiente botón:
        
        Restablecer Contraseña --> {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 
        
        Si el botón no funciona, puede copiar y pegar el siguiente enlace en su navegador:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        Este enlace es válido por 24 horas. Después de este tiempo, deberá solicitar un nuevo restablecimiento de contraseña.
        Si tiene alguna pregunta o necesita ayuda adicional, no dude en contactarnos.
  

        Gracias por usar nuestros servicios.

        El equipo de CyberShield
