{% extends 'base.html' %}
{% load static %}


{% block title %}Registro de Usuario{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Registro de usuario</h1>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
{% endblock %}

