{% extends 'base.html' %}

{% block content %}


<center>
    <div class="container-fluid" style="margin: 200px;">
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'posts:crear_categoria' %}">Crear nueva categoria</a>
    </div>

    <h1>Crear Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>

    </div>
</center>

{% endblock %}

