{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block content %}
<center>
<div class="container-fluid" style="margin: 200px;">
    <br>
    <li>{{ post.titulo }}</li>
    <li>{{ post.subtitulo }}</li>
    <li>{{ post.categoria }}</li>
    <br>
    <li>{{ post.texto }}</li>
    {% if post.imagen %}
    <img src="{{ post.imagen.url }}" alt="">
    {% else %}
    <p>No hay imagen disponible</p>
    {% endif %}
    {% if user.is_superuser or request.user|has_group:'Colaborador' %}
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'apps.posts:post_update' pk=post.id %}">Modificar Post</a>
    </div>
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'apps.posts:post_delete' pk=post.id %}">Eliminar Post</a>
    </div>
    {% endif %}

</div>

{% include 'comentario/crear_comentario.html' %}

</center>
{% endblock %}
