# Entornos virtuales
env/
venv/
.env
.venv
ENV/
env.bak/
venv.bak/

# Archivos de Python
*.py[cod]
*$py.class
__pycache__/

# Django
*.log



# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de migración, excepto __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignorar todas las carpetas de migraciones
**/migrations/


# Archivos estáticos recopilados
static/

# Archivos de caché
*.cache

# Archivos de prueba de cobertura
.coverage
.coverage.*
htmlcov/

# Archivos de distribución / empaquetado
*.egg-info/
dist/
build/
eggs/
.eggs/

# Archivos de documentación
docs/_build/

# Archivos de PyInstaller
*.manifest
*.spec

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Archivos de ambiente
.env
.env.local
.env.*.local

# Archivos temporales
*.bak
*.tmp
*.temp

