{% extends 'base.html' %}
{% load colaborador_tags %  }
{% block content %}
<center>
    {% if user.is_superuser or request.user|has_group:'Colaborador' %}
    <div class="container-fluid" style="margin: 400px;">
        <h1>Eliminar usuario</h1><br>
        <p>¿Estás seguro de querer eliminar el usuario {{ object.username }}?</p>
        <form method="post">
            {% csrf_token %}
            <label for="eliminar_comentarios">¿Desea eliminar los comentarios del usuario?</label>
            <input type="checkbox" name="eliminar_comentarios" id="eliminar_comentarios">
            <br><br>
            {% if es_colaborador %}
                <label for="eliminar_posts">¿Desea eliminar los posts del usuario?</label>
                <input type="checkbox" name="eliminar_posts" id="eliminar_posts">
                <br><br>
            {% endif %}

            <input type="submit" value="Sí, eliminar">
            <a style="color: red;" href="{% url 'apps.usuario:usuario_list' %}">No, cancelar</a>
        </form>
    </div>
    {% else %}
    <div class="container-fluid" style="margin: 300px;">
        <h1>Solo usuarios con permisos pueden acceder a esta pagina</h1>
    </div>
    {% endif %}
</center>
{% endblock %}